.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.5rem 2rem;
    margin-bottom: 0;
    position: relative;
    min-height: 10vh;
    z-index: 300;

    background-color: hsl(240, 13%, 52%);
    background: linear-gradient(to bottom, hsl(240, 13%, 52%), #fefefe);
    
    
}

.nav-logo-image {
    max-width: 60px;
    height: auto;
    z-index: 500;
}

.nav-hamburger-image {
    max-width: 30px;
    height: auto;
}

.nav-options {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 80%;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 9rem;
    gap: 4rem;

    transition: all 0.4s ease;
    

}

.nav-option {
    position: relative;
    margin-left: 4rem;
    margin-top: 2vh;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 7px;

    color: hsl(0, 1%, 22%);
    font-weight: 10px;
    font-size: 1.2rem;

    cursor: pointer;
    transition: all 0.4s ease;
    backdrop-filter: blur(px);
    background: hsla(240, 13%, 52%, 0);

}

.nav-option:hover {
    background: hsla(0, 0%, 100%, 0.60);
    box-shadow: 1px 1px 20px hsla(0, 0%, 0%, 0.2);
    color: black;
    font-size: 1.4rem;
}


.nav-option-expanded {
    position: relative;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.nav-option-expanded:hover .nav-option {
    background: hsla(240, 13%, 52%, 0.11);
    box-shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.2);
    color: 'black';
    font-size: 1.4rem;

}


.hamburger-active {
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 500;

}

.hamburger-inactive {
    background: transparent;
    border: none;
    cursor: pointer;
    
}

.sidebar-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 270px;
    background: white;
    box-shadow: 0px 4px 24px slategray;
    align-items: stretch;
    padding: 3rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 9999;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.sidebar-option {
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    background: white;
    border: none;
    border-radius: 8px;
    outline: none;
    text-decoration: none;
    text-align: left;
    padding: 1rem 1.2rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
    box-shadow: 0 2px 8px lightgray;

}

.sidebar-option:hover {
    background: slateblue;
    color: white;
}

