.landpage-container {
    padding-top: 60px;
    width: 100vw;
    min-height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.landpage-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: midnightblue;
    margin-bottom: 1.5rem;
    text-align: center;
}

.carrusel-rodillo {
    width: 80vw;
    margin: 0 auto 60px auto;
    position: relative;
    overflow: hidden;
    display: flex;
    background: transparent;
    align-items: center;
    justify-content: space-between;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 40px;
    padding-top: 40px;

}

.carrusel-inner {
    gap: 40px;
    display: flex;
    transition: transform 0.5s;
    width: 100%;
    justify-content: flex-start;
}

.carrusel-flecha{
    border: 1px solid slategray;
    border-radius: 50%;
    background: white;
    color: slategray;
    font-size: 2rem;
    width: 48px;
    height: 48px;
    transition: background 0.2s;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.carrusel-flecha:disabled{
    opacity: 0.4;
    cursor: not-allowed;
}

.carrusel-flecha.izquierda {
    left: 0;
}
.carrusel-flecha.derecha {
    right: 0;
}
.producto-img {
    height: 120px;
    width: 120px;
    object-fit: contain;
    border-radius: 12px;
    background: white;
    margin-bottom: 12px;
}

.producto-card {
    box-shadow: 0 4px 24px darkslategray;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    min-width: 260px;
    max-width: 260px;
    padding: 18px 12px;
    transition: transform 0.2s;  
}
.producto-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 32px darkslategray;
}

.producto-info p {
    font-size: 0.95rem;
    margin-bottom: 8px;
    text-align: center;
    color: slategray;
}

.producto-info h2 {
    font-size: 1.1rem;
    color: darkslategray;
    margin: 0 0 6px 0;
    text-align: center;
    font-weight: 600;
}


.info-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    gap: 3rem;
    margin-left: 14%;
    position: relative;
}

.info-container p {
    text-align: justify;
    
}

.info-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: midnightblue;
    margin-bottom: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    text-align: center;
    border-bottom: 2px solid midnightblue;
}

.hq-image {
    width: 73%;
    margin-top: 1rem;
    margin-left: 2rem;
    border-radius: 15px;
    border: 2px solid midnightblue;
}

.industrial-ceo-image {
    border-radius: 15px;
    border: 2px solid midnightblue;
}

.info-container::after {
  content: "";
  position: absolute;
  top: 5%;    
  bottom: 15%; 
  left: 33%;   
  width: 2px;
  background: midnightblue;
  transform: translateX(-50%);
}





