.App {
  background-color: #fefefe;
  /* height: 100vh; era prueba*/
  width: 100%;
  padding-top: 100px; 
}

.App.light {
  background: white;
  color: black;
}

.App.dark {
  background: black;
  color: white;
}